body { 
    display: block;    
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;

    background-image: url('/keyfood/resources/images/pattern.png');
    background-repeat: repeat;
    background-color: #dddddd;
}
div.header {
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 165px;
    position: relative;
}
div.header .header-logo {
    margin-top: 20px;
    margin-left: 10px;
    width: 180px;
    height: 78px;
}

div.header .header-menu {
    margin-top: 30px;
    vertical-align: bottom;
}

div.content {
    background-color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    height: 500px;
    position: relative;
    display:table;
}

div.content .full-bar {
    position:absolute;
    margin-top: 4%;
    margin-left: 2%;
}

div.content .full-bar td {
    vertical-align: top;
}

div.content .left-sidebar {
    left:0px;
    margin-top: 4%;
    margin-left: 2%;    
    width:500px;
    position:absolute;   
}
div.content .right-sidebar {
    right:0px;
    margin-top: 5%;
    margin-right: 2%;
    position:absolute;
}

div.content .right-sidebar .no-boder {
    border:0px;
}

div.content .ui-panelgrid td {
    border:0px;
}

.ui-panelgrid tr {
    border: 0px;
}

.ui-next-button {
    height: 20px;
    width:20px;
    border: none;
}

.ui-previous-button{
   height: 20px;
   width:20px;
   border:none;
}

.centered-div{
    display: block;
    margin-left: auto;
    margin-right: auto 
}

.time-confirm-box{
    display: block;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 14px;
    text-align: center;
}

.time-confirm-box-init-state{
    background-color: #EDF5FF;
}

.time-confirm-box-confirm-state{
    background-color: #f5d29a;
}

.time-confirm-table-pg{
    width:100%; 
    text-align: center; 
    border: 1px solid;
    border-collapse:collapse;
}

.time-confirm-table-pg tr:first-child{
    border-right:1px solid;
    border-bottom:1px solid;
    font-size: 13px;
    background: #edf5ff; /* Old browsers */
    background: -moz-linear-gradient(45deg, #edf5ff 1%, #77b1d8 89%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(1%,#edf5ff), color-stop(89%,#77b1d8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #edf5ff 1%,#77b1d8 89%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #edf5ff 1%,#77b1d8 89%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #edf5ff 1%,#77b1d8 89%); /* IE10+ */
    background: linear-gradient(45deg, #edf5ff 1%,#77b1d8 89%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#edf5ff', endColorstr='#77b1d8',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.time-confirm-table{
    border-collapse:collapse;
    border: 1px solid black;
    width: 100%;;
}

.time-confirm-table th{
    background-color: #dddddd;
    border: 1px solid black;
    border-right:none;
    border-left:none;
}

.time-confirm-table td{
    text-align:center;
}

.time-confirm-gradient{
    background:#8BE5EF;   

    /* IE10 */ 
    background-image: -ms-linear-gradient(left, #FFFFFF 0%, #97EFD2 100%);

    /* Mozilla Firefox */ 
    background-image: -moz-linear-gradient(left, #FFFFFF 0%, #97EFD2 100%);

    /* Opera */ 
    background-image: -o-linear-gradient(left, #FFFFFF 0%, #97EFD2 100%);

    /* Webkit (Safari/Chrome 10) */ 
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #FFFFFF), color-stop(1, #97EFD2));

    /* Webkit (Chrome 11+) */ 
    background-image: -webkit-linear-gradient(left, #FFFFFF 0%, #97EFD2 100%);

    /* Proposed W3C Markup */ 
    background-image: linear-gradient(left, #FFFFFF 0%, #97EFD2 100%);

}

.bigHeadDate {
    font-size: 25px;
    font-stretch: expanded;
    font-weight: bolder;
}

.centered {
    text-align: center;
}

.contentPanel {
    margin:10px; 
    padding:10px; 
    width: 700px; 
    display:block;
}