<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:body>
        <ui:composition>
            <p:growl id="growl" showDetail="true" autoUpdate="true"/>
            <h:form>
                <p:graphicImage styleClass="header-logo" url="/resources/images/logo.png"/>

                <p:menubar styleClass="header-menu" style="height:30px;">
                    <p:submenu label="Data">
                        <p:menuitem value="Load Data" action="add_entry" ajax="false" update=":content"/>
                        <p:menuitem value="View data" action="view_data" ajax="false" update=":content"/>
                    </p:submenu>
                </p:menubar>
            </h:form>
        </ui:composition>
    </h:body>
</html>
