<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">

    <h:head>
        <title>KEY FOOD STORES CO-OPERATIVE, INC.</title>
        <h:outputStylesheet library="css" name="site.css"/>

        <meta http-equiv="X-UA-Compatible" content="IE=4"/>   <!-- IE5 mode -->
        <meta http-equiv="X-UA-Compatible" content="IE=7.5" /> <!-- IE7 mode -->
        <meta http-equiv="X-UA-Compatible" content="IE=100" /> <!-- IE9 mode -->
        <meta http-equiv="X-UA-Compatible" content="IE=a" />   <!-- IE5 mode -->

        <!-- This header mimics Internet Explorer 7 and uses <!DOCTYPE> to determine how to display the webpage -->
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    </h:head>

    <h:body>
        <div id="wrapper">
            <div class="header">
                <ui:insert name="header">
                    <ui:include src="/template/common/commonHeader.xhtml"/>
                </ui:insert>
            </div>
            <h:panelGroup id="content" class="content" layout="block">
                <ui:insert name="content">
                    <ui:include src="/template/common/commonContent.xhtml"/>
                </ui:insert>
            </h:panelGroup>
        </div>
    </h:body>
</html>