<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


    <h:body>
        <ui:composition template="/template/common/commonLayout.xhtml">
            <ui:define name="content">
                <h:form>
                    <div class="full-bar" style="width:100%;text-align:center;">
                            <h2><h:outputText value="There was an error processing your request..."/><br/>
                                <h:outputText value="Please try again!"/></h2>
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>