<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">


    <h:body>
        <ui:composition template="/template/common/commonLayout.xhtml">
            <ui:define name="content">
                <br />
                <style>
                    .itemList {
                        width: 50%;
                    }
                </style>
                <h:form id="form">
                    <p:dataTable id="items" var="item" value="#{ViewDataBean.items}" rowKey="#{item.itemid}" style="width:25px;"
                                 selection="#{ViewDataBean.selectedItem}"  selectionMode="single">  
                        <p:ajax event="rowSelect" listener="#{ViewDataBean.onRowSelect}" />  
                        <f:facet name="header">  
                            Click "View" button after selecting a row to see details  
                        </f:facet>  

                        <p:column headerText="ItemId">  
                            #{item.itemid}  
                        </p:column>  

                        <p:column headerText="Description">  
                            #{item.desItem}  
                        </p:column> 
                        <f:facet name="footer">  
                            <p:commandButton id="viewButton" value="View" icon="ui-icon-search"  
                                    update=":form:display"/>  
                        </f:facet>  
                    </p:dataTable>  
                    <br /><br />
                    <h:panelGrid id="display" columns="2" cellpadding="4">  
                        <p:dataTable id="detailed" var="detail" value="#{ViewDataBean.details}" rowKey="#{detail.detailid}" style="width:300px;">  
                            <p:column headerText="pack">#{detail.pack}</p:column>  
                            <p:column headerText="Size">#{detail.itemSize}</p:column>  
                            <p:column headerText="Cost">#{detail.listCost}</p:column>  
                            <p:column headerText="Units">#{detail.srUnits}</p:column>  
                            <p:column headerText="Price">#{detail.srPrice}</p:column>  
                            <p:column headerText="Ad $">#{detail.srBrand}</p:column>  
                            <p:column headerText="DBB Amount">#{detail.diAmount}</p:column>  
                            <p:column headerText="DBB Start">#{detail.diSdate}</p:column>  
                            <p:column headerText="DBB End">#{detail.diEdate}</p:column>  
                            <p:column headerText="OI Amount">#{detail.oiAmount}</p:column>  
                            <p:column headerText="OI Start">#{detail.oiSdate}</p:column>  
                            <p:column headerText="OI End">#{detail.oiEdate}</p:column>  
                            <p:column headerText="Red. Value">#{detail.revalue}</p:column>  
                            <p:column headerText="CC Units">#{detail.rwUnits}</p:column>  
                            <p:column headerText="CC Price">#{detail.rwPrice}</p:column>  
<!--                            <p:column headerText="Coupon Limit">#{detail.climit}</p:column>  -->
<!--                            <p:column headerText="Minimun">#{detail.minPurchase}</p:column>  
                            <p:column headerText="Coupon Type">#{detail.ctype}</p:column>  -->
<!--                            <p:column headerText="Address 1">#{detail.address1}</p:column>  
                            <p:column headerText="Address 2">#{detail.address2}</p:column>  
                            <p:column headerText="City">#{detail.city}</p:column>  
                            <p:column headerText="State">#{detail.state}</p:column>  
                            <p:column headerText="ZipCode">#{detail.zipcode}</p:column>  -->
                        </p:dataTable>  
                    </h:panelGrid>
                    <p:growl id="growl" showDetail="true"/> 
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>