<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">


    <h:body>
        <ui:composition template="/template/common/commonLayout.xhtml">
            <ui:define name="content">
                <h:form enctype="multipart/form-data">
                    <div class="left-sidebar">
                        <p:fileUpload fileUploadListener="#{BuyerDealBean.handleFileUpload}"
                            mode="advanced" 
                            update="messages"
                            sizeLimit="100000000" 
                            allowTypes="/(\.|\/)(xls|xlsx)$/"
                            invalidFileMessage="test"
                            invalidSizeMessage="invalid size"
                            />

                    <p:growl id="messages" showDetail="true"/>

                    </div>

                    <div class="right-sidebar">
                   
                    </div>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>